@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

html {
  scroll-behavior: smooth;
}
body{
  margin: 2rem auto;
  padding: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: ease 0.3s;
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
}

button{
  cursor: pointer;
  background: none;
  border: none;
}

input{
  background: none;
  border: none;
}

img {
  width: 100%;
  overflow: hidden;
}

a{
  text-decoration: none;
}