html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: ease 0.3s;
  text-decoration: none;
}

button{
  cursor: pointer;
  background: none;
  border: none;
}

input{
  all: unset;
  background: none;
  border: none;
}